{% extends 'baseadmin.html.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   

  
    

</br>
</br>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Garamond';">Dodawanie słów</h1>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        

        <div class="example-wrapper" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: 0;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        ">
        <form method="POST" style="padding: .8em 1.2em;">
        Słowo:
        <input type="text" name="word" id="word" class="form-control">
        </br>
        Tłumaczenie:
        <input type="text" name="translation" id="translation" class="form-control">
        </br>
        Język:
        <select class="form-control form-control-sm" name="language" id="language">
            <option>Angielski</option>
            <option>Hiszpański</option>
        </select>
        </br>
        <button class="btn btn-lg btn-primary" type="submit" name='addword'>
        Dodaj
    </button>
    </div>
    </form>


      </div>
    </div>
  </div>
  </br>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Garamond';">Dodawanie sprawdzianów</h1>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
         
         
        <div class="example-wrapper" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: 0;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        ">
        <form method="POST" style="padding: .8em 1.2em;">
        Typ:
        <select class="form-control form-control-sm" name="type" id="language">
            <option value='Reading'>Czytanie ze zrozumieniem</option>
            <option value='Listening'>Słuchanie ze zrozumieniem</option>
            <option value='Orthography'>Sprawdzian ortografii</option>
        </select>
        </br>
        Nazwa:
        <input type="text" name="name" id="name" class="form-control">
        </br>
        Tekst:
        <textarea type="text" name="text" id="text" class="form-control"></textarea>
        </br>
        Język:
        <select class="form-control form-control-sm" name="language" id="language">
            <option>Angielski</option>
            <option>Hiszpański</option>
        </select>
        </br>
         Poziom:
        <select class="form-control form-control-sm" name="level" id="level">
            <option>Bardzo łatwy</option>
            <option>Łatwy</option>
            <option>Średni</option>
            <option>Trudny</option>
        </select>
        </br>
        <hr>
        Pytanie:
        <input type="text" name="question1" id="question1" class="form-control">
        </br>
        Odpowiedź prawidłowa:
        <input type="text" name="answerc1" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer11" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer21" class="form-control">
        
    </br>
        <hr>
        Pytanie:
        <input type="text" name="question2" id="question" class="form-control">
        </br>
        Odpowiedź prawidłowa:
        <input type="text" name="answerc2" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer12" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer22" class="form-control">
        
    </br>
        <hr>
        Pytanie:
        <input type="text" name="question3" id="question3" class="form-control">
        </br>
        Odpowiedź prawidłowa:
        <input type="text" name="answerc3" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer13" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer23" class="form-control">
        
    </br>
        <hr>
        Pytanie:
        <input type="text" name="question4" id="question1" class="form-control">
        </br>
        Odpowiedź prawidłowa:
        <input type="text" name="answerc4" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer14" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer24" class="form-control">
        
    </br>
        <hr>
        Pytanie:
        <input type="text" name="question5" id="question1" class="form-control">
        </br>
        Odpowiedź prawidłowa:
        <input type="text" name="answerc5" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer15" class="form-control">
        </br>
        Odpowiedź:
        <input type="text" name="answer25" class="form-control">
        </br>
        <button class="btn btn-lg btn-primary" type="submit" name='addText'>
        Dodaj
    </button>
    </div>
    </form>


      </div>
      </div>
      </div>
      </br>

<div class="card">
    <div class="card-header" id="headingTree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
          <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Garamond';">Użytkownicy</h1>
        </button>
      </h5>
    </div>
    <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordion">
      <div class="card-body">

      <div class="example-wrapper" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 33%;
        border: 0;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        ">

<table id="table_id" class="display">
  
  {% for user in users %}
  <tbody id="myTable">
  <tr>
   <form name = "myform" method="POST">
    <td>{{ user.username }}</td>
    <td style="text-align: center;"><button name="usun" class="btn btn-secondary btn-sm" type="submit" value={{ user.id }} style="align: center; font-size: 15px;" class="zsk2">Usuń</button></td>
    </form>
  </tr>
  
   {% endfor %}  
  </tbody>
</table>

</div>
</br>

<div class="navigation" >
{{ knp_pagination_render(users) }}
</div>
    </div>
</div>
</div>




{% endblock %}
